:root {
  --nav-height: 50px;

  --grey: #c2cdc7;
}

body {
  margin: 0px;
  border: 0px; 
  margin: 0px;
  padding: 0px;
}

.overflow-hidden {
  overflow: hidden;
}

canvas {
  display: block;
}

@font-face {
  font-family: PPMonument;
  src: url("/fonts/PPMonumentExtended-Regular.woff2");
}

h1, h2, h3, h4, h5, h6, p, figure {
  font-family: 'PPMonument', sans-serif;
}

h1 {
  font-size: 35px;
  line-height: 30px;
  font-weight: 100;
  color: black;
  margin-bottom: 10px;
  margin-top: 0px;
}

p {
  color: black;
  font-size: 25px; 
  line-height: 27px; 
}

.p-margin {
  margin: 20px 0;
  width: 100%;
}

a {
  color: black;
}

a:hover {
  color: #554144;
}

.myNavigation {
  position: fixed; 
  top: 0px; 
  width: 100%;

  box-sizing: border-box; 
  padding: 10px 10px 0 10px; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  background-color: var(--grey); 
  z-index: 99;
} 

.backgroundWrapper {
  padding: 10px;
  padding-top: var(--nav-height);
}

.imageCarousel {
  display: none; 
  justify-content: start; 

  position: flex; 
  top: 0px; 
  left: 0; 
  /*z-index: 0; */
  overflow-y:auto; 

  border-style:solid;
  border-color:#828282;
  border-radius: 10px;
  border-width:2px;
  margin: 10px;
}

.rotation {
  transform: rotate(45deg);
}

.textWrapper {
  position: absolute; height: 100%; width: 100%; box-sizing: border-box; top:0px; padding: 10px; display: flex; justify-content: space-between;
}

.zoomImages {
  width: 100%; height: auto; position: fixed; margin: auto; top:var(--nav-height); bottom: 0; left: 0; right: 0;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thumbnailWrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail {
  width: 100%;
  padding: 0.75%;
}


.cvWrapper{
  width: 100%;
}

.titelWidth {
  width: 100%
}

.navbar {
  flex-wrap: wrap;
  position: absolute; 
  height: 100%; 
  width: 100%; 
  box-sizing: border-box; 
  top:0px; 
  padding: 10px; 
  display: flex; 
  justify-content: space-between;
}

.informationWrapper {
  width: 100%;
  height: 60%;
  display: none; 
  justify-content: end; 
  align-items: start; 
  text-align: start;
  flex-wrap: wrap;
  margin-bottom: 7px;
}

 .wrapper2 {
  width: 100%;
 }

 .wrapper3 {
  width: 100%;
  position: absolute;
  bottom: 10px;
  right: 10px;
 }

 .cover {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  width: 100%; 
  background-color: black;
 }

 .coverText {
  text-align: center; 
  font-size: 50px; 
  line-height: 46px; 
  color: #c2cdc7;
 }

 input[type='range'] {
  width: 80px;
  height: 15px;
  background-color: transparent;
  appearance: none;
}

input[type='text'] {
  position: absolute;
  top: 0;
  left:0;
  height: 100px;
  width: 100%;
  background-color: transparent;
  border: none;
  appearance: none;
}

input[type='text']:focus {
  border: none;
  outline:none;
}

 input[type='radio']:after {
  width: 14px;
  height: 14px;
  transform: translate(-2px, -2px);

  border-radius: 15px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #a7b1ad;
}

input[type='radio']:checked:after {
  width: 14px;
  height: 14px;
  transform: translate(-2px, -2px);

  border-radius: 10px;
  position: relative;
  background-color: #a7b1ad;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #a7b1ad;
}

input[type='range'] {
  width: 80px;
  height: 15px;
  background-color: transparent;
  appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  background: #a7b1ad;
  height: 3px;
  appearance: none;
  cursor: pointer;  
}

/* This is the moveable bit of the slider, known as the "thumb"*/
input[type='range']::-webkit-slider-thumb {
  width: 15px;
  height: 15px;

  background: white;
  border: 2px solid #a7b1ad;
  cursor: pointer;
  appearance: none;
  
  /* negative top padding moves it up */
  margin-top: -6px;

  
  /* Border radius gives rounded corners, if they're big enough, you end up with circles */
  border-radius: 8px;
  
}

.plus {
  cursor: url('/images/plus_black.svg') , pointer;
}

.plus:hover{
  cursor: url('/images/plus_black.svg') 40 40, pointer;
}



.sound {
  cursor: url('/images/sound_black.png') 60 30, pointer;
}

#cursor {
  transform-origin: top left;
}





/*Wenn über 768, wenn Desktop*/
@media only screen and (min-width: 768px) { 

  :root {
    --nav-height: 60px;
  }

  p {
    font-size: 20px; 
    line-height: 22px; 
  }

  .contentWrapper {
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .cvWrapper{
    width: 40%;
  }

  .cvWrapper p{
    position: sticky;
   top: var(--nav-height);
  }

  .thumbnailWrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: end;
  }




  .projectText {
    width: 25%;
    position: sticky;
  }


  .thumbnail {
    width: 26%;
  }

  .titelWidth {
    width: 55%;
  }



  h1 {
    font-size: 40px;
    line-height: 30px;
  }

  .sticky-info {
    position: sticky; 
    top: var(--nav-height); 
    padding-right: 10px;
  }
  
}

@media only screen and (min-width: 1048px) { 
  
  .informationWrapper {
    width: 60%; 
    height: 100%;
    align-items: start;
    justify-content: end;
    text-align: end;
  }

  .titelWidth {
    width: 40%;
  }

  .extraFont {
    font-family: 'Monument', sans-serif;
    font-size: 40px;
    padding-top: 1px;
    }

   .wrapper2 {
    width: 70%;
   }

   .wrapper3 {
    position: static;
    width: 30%;
   }

   .p-margin {
    margin: 20px 0;
    width: 60%;
  }

  .coverText {
    text-align: center; 
    font-size: 200px; 
    line-height: 190px; 
    color: #c2cdc7;
   }
}
